# Use the latest 2.1 version of CircleCI pipeline process engine.
# See: https://circleci.com/docs/configuration-reference
version: 2.1

orbs:
  node: circleci/node@5.2.0

# Define a job to be invoked later in a workflow.
# See: https://circleci.com/docs/configuration-reference/#jobs
jobs:
  sast-autofixer:
    docker:
      - image: cimg/base:stable
    # Add steps to the job
    # See: https://circleci.com/docs/configuration-reference/#steps
    steps:
      - checkout
      - node/install:
          install-yarn: true
          node-version: '18'
      - run:
          name: "Prepare Enviornment"
          command: |
            export GITHUBURL=$(echo $CIRCLE_PULL_REQUEST | sed -E 's|(https://github.com/[^/]+/[^/]+).*|\1|') 
            echo "export GITHUBURL="$GITHUBURL"" >> $BASH_ENV
            
      - run:
          name: "SAST scan"
          command: |
            npx snyk auth $SNYK_API_KEY
            npx snyk code test --sarif-file-output=report.json
      - run:
          name: "Mobb Autofixer"
          command: |
            npx mobbdev@latest analyze -f report.json -r $GITHUBURL --ref $CIRCLE_BRANCH --api-key $MOBB_API_KEY  --ci

          when: on_fail

# Orchestrate jobs using workflows
# See: https://circleci.com/docs/configuration-reference/#workflows
workflows:
  test-workflow:
    jobs:
      - sast-autofixer

