version: 2.1
orbs:
  node: circleci/node@5.2.0
jobs:
  sast-autofixer:
    docker:
      - image: cimg/base:stable
    steps:
      - checkout
      # Installing Node.js 18
      - node/install:
          node-version: '18'
      - run:
          name: "Prepare Enviornment"
          command: |
            # Extract the GitHub repo URL
            export GITHUBURL=$(echo $CIRCLE_PULL_REQUEST | sed -E 's|(https://github.com/[^/]+/[^/]+).*|\1|') 
            echo "export GITHUBURL="$GITHUBURL"" >> $BASH_ENV
      - run:
          name: "SAST scan"
          command: |
            npx snyk auth $SNYK_API_KEY
            npx snyk code test --sarif-file-output=report.json
      - run:
          name: "Mobb Autofixer"
          command: |
            MOBBURL=$(npx mobbdev@latest analyze -f report.json -r $GITHUBURL --ref $CIRCLE_BRANCH --api-key $MOBB_API_KEY --ci)
            echo "Mobb URL: $MOBBURL"
            # Store the Mobb URL in a html file and save it as a CircleCI artifact
            echo "<html><body><a href="$MOBBURL">Click here for the Mobb URL</a></body></html>" > mobburl.html
          when: on_fail
      - store_artifacts:
          path: mobburl.html
          destination: /artifacts
# Orchestrate jobs using workflows
workflows:
  test-workflow:
    jobs:
      - sast-autofixer

